# Lab Overview

**Remember to create a copy of this notebook for your own purposes so that any work that you do is saved to your personal copy of this lab**

In this lab, we'll be loading in FAA data around aircraft wildlife strikes from 1990-2015 using `pandas` and doing some initial data exploration to answer some questions about the data set.

In [1]:
# Pre-Preparation :)
# Import pandas and check the version
import pandas as pd

pd.__version__

'1.1.5'

In [ ]:
# If version is less than 1.1.1 let's update to the latest version
!pip install pandas==1.1.1

# The above will install the latest version of pandas
# After installation, you will need to "Restart runtime" in the "Runtime" dropdown menu above for the changes to take effect

## Preparation

Steps:

1.   Download the data set `wildlifestrikes.csv` 
2.   Load the dataset using `pandas` into a dataframe called `strikes_raw`.  Set `low_memory=False` and `index_col='Record ID'`.

In [6]:
# Write your code below
import pandas as pd
file_path = "/content/drive/MyDrive/Colab Notebooks/MSDS-Data Visualization/Data/wildlifestrikes.csv"
strikes_raw = pd.read_csv(file_path, low_memory=False, index_col='Record ID')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### Questions about the data set



1.   How many rows are in this dataset?
2.   How many columns are in this dataset?
3.   What are the column names?
4.   Output the first 10 rows of the `strikes_raw` dataframe.

In [7]:
strikes_raw.shape

(174104, 65)

In [8]:
strikes_raw.columns

Index(['Incident Year', 'Incident Month', 'Incident Day', 'Operator ID',
       'Operator', 'Aircraft', 'Aircraft Type', 'Aircraft Make',
       'Aircraft Model', 'Aircraft Mass', 'Engine Make', 'Engine Model',
       'Engines', 'Engine Type', 'Engine1 Position', 'Engine2 Position',
       'Engine3 Position', 'Engine4 Position', 'Airport ID', 'Airport',
       'State', 'FAA Region', 'Warning Issued', 'Flight Phase', 'Visibility',
       'Precipitation', 'Height', 'Speed', 'Distance', 'Species ID',
       'Species Name', 'Species Quantity', 'Flight Impact', 'Fatalities',
       'Injuries', 'Aircraft Damage', 'Radome Strike', 'Radome Damage',
       'Windshield Strike', 'Windshield Damage', 'Nose Strike', 'Nose Damage',
       'Engine1 Strike', 'Engine1 Damage', 'Engine2 Strike', 'Engine2 Damage',
       'Engine3 Strike', 'Engine3 Damage', 'Engine4 Strike', 'Engine4 Damage',
       'Engine Ingested', 'Propeller Strike', 'Propeller Damage',
       'Wing or Rotor Strike', 'Wing or Rotor Damage', 'Fuselage Strike',
       'Fuselage Damage', 'Landing Gear Strike', 'Landing Gear Damage',
       'Tail Strike', 'Tail Damage', 'Lights Strike', 'Lights Damage',
       'Other Strike', 'Other Damage'],
      dtype='object')

In [9]:
strikes_raw.head(n=10)

           Incident Year  Incident Month  ...  Other Strike Other Damage
Record ID                                 ...
127128              1990               1  ...             0            0
129779              1990               1  ...             1            0
129780              1990               1  ...             0            0
2258                1990               1  ...             0            0
2257                1990               1  ...             0            0
129734              1990               1  ...             1            0
129735              1990               1  ...             0            0
129736              1990               1  ...             0            0
129737              1990               1  ...             0            0
127848              1990               1  ...             0            0

[10 rows x 65 columns]

## Data Cleaning

More often than not, data doesn't come exactly the way we want it for analysis purposes.  There are a number of different steps and techniques that can be used to clean and prepare the data in order to make it suitable for data analysis.  Let's practice a couple of them here.

### Reduce the data set to only columns you need

Let's say that for the purposes of this analysis, we don't need the data on engines or on specific damage to the aircraft.  We can thus remove the columns related to this data and reduce the noise in our dataset.  Create a new dataframe `strikes` with only the columns listed below. Take care to explicitly create a `.copy()`

```
'Incident Year', 'Incident Month', 'Incident Day', 'Operator ID',
'Operator', 'Aircraft', 'Aircraft Type', 'Aircraft Make',
'Aircraft Model', 'Aircraft Mass', 'Airport ID', 'Airport',
'State', 'FAA Region', 'Warning Issued', 'Flight Phase', 'Visibility',
'Precipitation', 'Height', 'Speed', 'Distance', 'Species ID',
'Species Name', 'Species Quantity', 'Flight Impact', 'Fatalities',
'Injuries', 'Aircraft Damage'
```

Then confirm that you have fewer columns by checking the shape of `strikes`

In [10]:
# Write your code below
strikes = strikes_raw[['Incident Year', 'Incident Month', 'Incident Day', 'Operator ID',
'Operator', 'Aircraft', 'Aircraft Type', 'Aircraft Make',
'Aircraft Model', 'Aircraft Mass', 'Airport ID', 'Airport',
'State', 'FAA Region', 'Warning Issued', 'Flight Phase', 'Visibility',
'Precipitation', 'Height', 'Speed', 'Distance', 'Species ID',
'Species Name', 'Species Quantity', 'Flight Impact', 'Fatalities',
'Injuries', 'Aircraft Damage']].copy()

In [11]:
strikes.shape

(174104, 28)

### Missing data

Missing|empty|null data is a common problem when working with data.  Let's address some of the missing data in this data set.


1.   Use `.count()` or `.info()` on `strikes` to see the number of non-null values in each column
2.   Note that `Fatalities` and `Injuries` have the fewest non-null values.  Let's examine these two columns to see what data is in there.
3.   For each of the two columns, do a `.value_counts()` to see the distribution of values in the column
4.   Let's assume that when data is missing in this column, that it means 0 (i.e. 0 people injured/killed)
5.   Use `.fillna()` to fill in NaN with 0
6.   Confirm that these two columns no longer have any non-null values using `.count()` or `.info()` again

In [12]:
# Filling in place (i.e. it overwrites the original data)
strikes.Injuries.fillna(0, inplace=True)

In [13]:
# Setting via a copy
strikes.loc[:,'Fatalities'] = strikes.loc[:,'Fatalities'].fillna(0)

In [14]:
strikes.count()

Incident Year       174104
Incident Month      174104
Incident Day        174104
Operator ID         174104
Operator            174104
Aircraft            174104
Aircraft Type       133074
Aircraft Make       131051
Aircraft Model      122439
Aircraft Mass       127320
Airport ID          174104
Airport             173814
State               152128
FAA Region          155202
Warning Issued       76418
Flight Phase        118802
Visibility          109933
Precipitation        88322
Height              103677
Speed                71258
Distance             99713
Species ID          174104
Species Name        174024
Species Quantity    169627
Flight Impact        99465
Fatalities          174104
Injuries            174104
Aircraft Damage     174104
dtype: int64

In [15]:
strikes.Fatalities.value_counts()

0.0    174092
1.0         7
2.0         3
8.0         1
5.0         1
Name: Fatalities, dtype: int64

## Exploring Data
Let's practice accessing and exploring data in the `strikes` dataframe.

### Using Indices


Recall from the lecture the following means of accessing data:
- `.loc[row_index]` to access a specific row identified by a specific `row_index` value
- `.loc[row_index, column_index]` to access a specific data point identified by the `row_index` and `column_index` (which is generally the column name)
- `.iloc[row_index]` to access a row by the integer index number
- `.iloc[row_index, column_index]` to access a specific data point identified by the specified integer index numbers

Using the above, answer the following questions:

For Record ID `357780`
1.   On what date did the incident occur? 
2.   Which airline operator was involved?
3.   What type of bird did it strike?
4.   How many of this bird did it kill?
5.   At which airport did this occur?
6.   In which flight phase did this occur?

In [16]:
strikes.loc[357780]

# 2015-02-19
# JetBlue
# Bald Eagle
# 1
# Orlando International Airport
# Takeoff

Incident Year                  2015
Incident Month                    2
Incident Day                     19
Operator ID                     JBU
Operator            JETBLUE AIRWAYS
Aircraft                      A-320
Aircraft Type                     A
Aircraft Make                   04A
Aircraft Model                    3
Aircraft Mass                     4
Airport ID                     KMCO
Airport                ORLANDO INTL
State                            FL
FAA Region                      ASO
Warning Issued                  NaN
Flight Phase            TAKEOFF RUN
Visibility                      DAY
Precipitation                  NONE
Height                            0
Speed                           130
Distance                          0
Species ID                    K3201
Species Name             BALD EAGLE
Species Quantity                  1
Flight Impact                  NONE
Fatalities                        0
Injuries                          0
Aircraft Damage                   0
Name: 357780, dtype: object

### Using conditional filters

Some wildlife aircraft incidents led to human fatalities.  See the column `Fatalities`.  From this data set, how many resulted in fatalities?  Which incident recorded the most fatalities?  What happened?

Recommended Steps:

1.   Create a boolean variable `has_fatality` representing the cases that have a value `>= 1` in `Fatalities` 
2.   Using the `has_fatality` boolean variable you created, subset `strikes` to only those incidents that have a recorded fatality.
3.   Sort values of the resulting dataframe by number of fatalities using `.sort_values()` with the argument `ascending=False`

See this [article](https://www.cnn.com/2010/US/11/24/helicopter.crash.cause/index.html)

In [17]:
# Write your code below
has_fatality = strikes.loc[:,'Fatalities'] >= 1
strikes[has_fatality].sort_values(by=['Fatalities'], ascending=False)

           Incident Year  Incident Month  ...  Injuries Aircraft Damage
Record ID                                 ...
260720              2009               1  ...       1.0               1
260583              2008               3  ...       0.0               1
128423              1998               3  ...       0.0               1
221264              2003               7  ...       0.0               1
251781              2007              10  ...       0.0               1
113844              1992               6  ...       0.0               1
117275              1993               3  ...       0.0               1
122793              1994               5  ...       0.0               1
120353              1994               7  ...       0.0               1
205211              2000              12  ...       0.0               1
270208              2003               5  ...       0.0               1
332826              2013               2  ...       0.0               1

[12 rows x 28 columns]

### Combining conditional filters

Now, think of your own question you want to explore in the data.  It should be a question that would require multiple conditional filters that are combined using bitwise logic.

`&` : and

`|` : or

`~` : not

For example, `condition_a & ~condition_b` is interpreted as "Condition A is True and Condition B is False".  `condition_a | condition_b` would be "Condition A is True OR Condition B is True" (i.e. at least one is true).

Recommended steps:


1.   Think of a question you want to explore in this dataset and write it down.
2.   Break your question down into conditional filters
3.   Create boolean variables for each filter
4.   Select from the `strikes` dataframe that data which meets the conditions you specified by combining the boolean variables with the bitwise logic operators you see above
5.   Answer your question by exploring the resulting data.
6.   If you still have time, repeat this process to see what kind of interesting insights you can find in the data.

In [18]:
# Write your code below
strikes.head()
is_delta = strikes.loc[:,'Operator'] == 'DELTA AIR LINES'
species_qty_gt1 = strikes.loc[:,'Species Quantity'] > '1' # Need to be careful here as this is not numeric

strikes[is_delta & species_qty_gt1]

           Incident Year  Incident Month  ...  Injuries Aircraft Damage
Record ID                                 ...
101141              1990               6  ...       0.0               0
100495              1990               7  ...       0.0               0
102807              1990               7  ...       0.0               0
101152              1990               7  ...       0.0               0
100786              1990               7  ...       0.0               0
...                  ...             ...  ...       ...             ...
366509              2015               9  ...       0.0               0
365716              2015               9  ...       0.0               0
366184              2015               9  ...       0.0               0
365853              2015               9  ...       0.0               0
365830              2015               9  ...       0.0               0

[1129 rows x 28 columns]